{% extends 'base.html' %}

{% block title %} Account {% endblock %}

{%  block content %}
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10">
          <div class="card">
            <div class="card-body">
                <h1> Note: This page is under construction</h1>
                <h4>Supervisor key</h4>
                <p>This is your supervise key so your friends can add you to their supervisors list</p>
                <p>Note that if you reset the key,you will be removed from your friends' list if they added you before</p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
