{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{%  block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Sign up for new account!</h3>
              <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <div class="right-template-submit">
                    <button type="submit" class="btn btn-dark">Submit</button>
                <button type="button" onclick="location.href='{% url 'home' %}';"
                        class="btn btn-dark">Cancel</button>
                </div>
              </form>
                <h5>Already have an account? <a href="{% url 'login' %}">Log in</a></h5>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
